
@model ManasMarketting.Models.Tbl_cityViewModel

<div class="pd-ltr-20 xs-pd-20-10">

    <div class="row">
        <div class="col-md-6 col-sm-12">
            <div class="title">
                @if (Model.city_id< 1)
                {
                    <h3 class="h3">Add City</h3>
                }
                else
                {
                    <h3 class="h3">Update City</h3>
                }
            </div>
            <input type="hidden" id="city_id" value="@Model.city_id" />
        </div>
        <div class="col-md-6 col-sm-12 text-right">
            <button type="button" class="close" aria-label="Close">
                <span aria-hidden="true">&times;</span>
            </button>
        </div>
    </div>
    <hr class="mt-0" />
    <div class="min-height-200px">
        <div class="page-header">
            <div class="row">
                <div class="col-md-12 pt-10">
                    <div class="form-group">
                        <label>City Name</label>
                        <input type="text" id="city_name" value="@Model.city_name" class="form-control form-control-sm" />
                    </div>
                </div>
                <div class="col-md-12">
                    <div class="form-group">
                        <label>State Name</label>
                       <select class="form-control custom-select2" id="state_id" >
                         <option value="0">--Select--</option>
                          @foreach (var i in Model.state_list)
                          {
                              if (i.state_id == Model.state_id)
                              {
                                  <option value="@i.state_id" selected>@i.state_name</option>
                              }
                              else
                              {
                                  <option value="@i.state_id">@i.state_name</option>
                              }
                          }
                       </select>
                    </div>
                </div>
                <div class="col-md-12 col-sm-12 mt-2">
                    <div class="form-group">
                        <label>Is Active</label>
                        <input type="checkbox" id="status" @Html.Raw(Model.status?"checked":"") />
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        @if (Model.city_id < 1)
                        {
                            <input type="submit" value="Add" class="btn btn-sm btn-success mt-2" id="btnSave" />
                        }
                        else
                        {
                            <input type="submit" value="Update" class="btn btn-sm btn-success mt-2" id="btnSave" />
                        }
                        <input type="Reset" value="Reset" class="btn btn-sm btn-danger mt-2" id="btnReset" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function () {
        $('#btnReset').click(function () {
            var city_name = $("#city_name").val('');
            var state_id = $('#state_id').val('0');
        });
    });
</script>

